.live {
  position: relative;
  padding-bottom: 150px;
}
.live-inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
.live-header {
  position: relative;
}
.live-title {
  position: relative;
  width: auto;
  height: 40px;
  display: block;
  margin: 0 auto;
  background: url("../images/title_live.svg") no-repeat center;
}

.live-main {
  position: relative;
  padding: 25px 0;
}

.live-slide-wrap {
  position: relative;
  height: 475px;
  margin-top: 23px;
  margin-bottom: 20px;
}

.live-slide {
  position: relative;
  height: 455px;
  margin-bottom: 50px;
}

.live-slide-item {
  position: relative;
  height: 45.6rem;
  width: 299px;
  display: inline-block;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  background-color: #111;
  border-radius: 10px;
}

.live-link {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.live-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.live-good-list {
  position: relative;
  /* overflow: hidden; */
}

.live-good-list li {
  position: relative;
}

.live-good-info-tv {
  display: inline-block;
  line-height: 32px;
  font-size: 13px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 12px;
  margin-bottom: 10px;
}

.live-good-info-tilte {
  display: -webkit-box;
  font-size: 20px;
  line-height: 24px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 700;
  color: #fff;
}

.live-good-list-cate {
  width: 100%;
  height: 100%;
  margin-top: 75px;
  text-align: center;
}

.live-good-info-date {
  color: #fff;
  font-size: 28px;
}

.live-good-info-time {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.5;
}

.live-good-footer {
  display: flex;
  width: 257px;
  height: 64px;
  margin-top: 250px;
}

.live-good-footer-images {
  height: 64px;
  width: 64px;
  object-fit: cover;
  border-radius: 15%;
}

.live-good-info-footer {
  font-size: 15px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 10px;
}

.live-footer {
  position: relative;
}

.live-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.live-img img {
  /* 이미지 너비, 높이 상관없이 가운데 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);

  height: 100%;
}
