.live {
  position: relative;
  padding-bottom: 90px;
}
.live-inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
.live-header {
  position: relative;
}
.live-title {
  position: relative;
  width: 155px;
  height: 40px;
  display: block;
  margin: 0 auto;
  background: url("../images/title_live.svg") no-repeat center;
}

.live-main {
  position: relative;
  padding: 25px 0;
}

.live-slide-wrap {
  position: relative;
  height: 455px;
  margin-top: 23px;
  background-color: cyan;
}

.live-slide-wrap {
  position: relative;
  height: 455px;
  margin-top: 23px;
  background-color: yellowgreen;
}

.live-slide-item {
  position: relative;
  height: 425px;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.live-link {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.live-img {
  position: relative;
  width: 100%;
  height: 310px;
  overflow: hidden;
}

.live-img img {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.live-info {
  position: relative;
  height: calc(100% - 310px);
  padding: 22px 20px;
}

.live-good-list {
  position: relative;
}
.live-good-list li {
  position: relative;
  margin-bottom: 10px;
}

.live-good-info-price {
  position: relative;

  /* 1줄 말줄임 */
  overflow: hidden;
  font-size: 1.8rem;
  font-weight: 400;
  color: #111;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.live-good-info-price b {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  color: #ef3e43;
}
.live-good-info-price em {
  position: relative;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}

.live-good-info-desc {
  position: relative;
  display: -webkit-box;

  /* 말줄임 */
  overflow: hidden;
  font-size: 1.5rem;
  color: #111;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.live-footer {
  position: relative;
}
