.ticket {
  position: relative;
  padding-bottom: 90px;
}
.ticket-inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
.ticket-header {
  position: relative;
}
.ticket-title {
  position: relative;
  margin-bottom: 10px;
  font-size: 2.8rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}
.ticket-txt {
  position: relative;
  display: block;
  font-size: 1.8rem;
  color: #a7a9a7;
  text-align: center;
}
.ticket-main {
  position: relative;
  padding: 25px 0;
}
.ticket-cate {
  position: relative;
  display: flex;
  justify-content: center;
}
.ticket-list {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
}
.ticket-cate-bt {
  position: relative;
  display: block;
  padding: 0 20px;
  border: 1px solid #e5e5e5;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 42px;
  color: #111;
  cursor: pointer;
  border-radius: 44px;
  background-color: #fff;
}
.ticket-cate-bt-active {
  border: 1px solid transparent !important;
  background-color: #333 !important;
  font-weight: 700 !important;
  color: #fff !important;
}
.ticket-slide-wrap {
  position: relative;
  height: 520px;
  margin-top: 23px;
}

.ticket-slide-item {
  position: relative;
  height: 520px;
  overflow: hidden;
}

.ticket-link {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.ticket-img {
  position: relative;
  width: 320px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}

.ticket-img img {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ticket-info {
  position: relative;
  height: calc(100% - 310px);
  padding: 22px 15px;
}

.ticket-good-list {
  position: relative;
}
.ticket-info li {
  position: relative;
  margin-bottom: 10px;
}

.ticket-good-info-place {
  position: relative;

  /* 1줄 말줄임 */
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: 400;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ticket-good-info-price {
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0;
  color: #999;
}
.ticket-good-info-desc em {
  position: relative;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
}

.ticket-good-info-desc {
  position: relative;
  display: -webkit-box;

  /* 말줄임 */
  overflow: hidden;
  font-size: 1.5rem;
  color: #111;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ticket-footer {
  position: relative;
}

.ticket-prev {
  top: 43%;
}

.ticket-next {
  top: 43%;
}
